.contacts-section {
  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 0;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 32px;
      margin-bottom: 48px;
      flex-direction: row;
    }
  }
  &__map {
    flex-shrink: 0;
    border: none;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $bp-tablet) {
      max-width: 48vw;
      height: 481px;
    }
  }
  &__form-field {
    margin-bottom: 16px;
  }
  &__form-text {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    max-width: 280px;
    margin: 0 auto 32px;
  }

  &__container-form {
    height: 480px;
    max-width: 424px;
    width: 100%;
    border-radius: 32px;
    background-color: var(--color-primary-dark);
    position: relative;
    padding: 48px 56px;
    color: var(--color-primary-light);
  }
}
