.footer {
  background-color: var(--color-primary-dark);
  padding: 56px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  &::after {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      position: absolute;
      content: '';
      width: 270px;
      height: 154px;
      right: 0;
      bottom: 0px;
      background-repeat: no-repeat;
      background-image: url(../images/footer-img.png);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 42px;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      gap: 20px;
    }
  }

  &__adress {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      gap: 20px;
    }
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
    line-height: 2;
    transition: color 0.2s;
    &:hover {
      color: var(--color-brand);
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
  }

  &__items {
    flex-grow: 1;
  }
  &__info {
    flex-grow: 1;
  }

  &__icons {
    display: flex;
    gap: 24px;
    
  }

  &__menu-link {
    line-height: 1.5;
  }

  &__adress-icon {
    fill: var(--color-primary-light);
    &:hover {
      fill: var(--color-brand);
    }
    
  }

  &__adress-item {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      color: var(--color-primary-light);
      font-size: 16px;
      line-height: 2;
      font-style: normal;
      text-decoration: none;
    }
  }

  &__address-social {
    margin-top: 16px;
    
  }

  &__privacy-policy {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
  }

  &__protection {
    color: var(--color-primary-grey);
    font-size: 13px;
  }
}
